.navbar__component {
    width: 100vw;
    height: 60px;
    background-color: #131A22;
    display: flex;
}
.navbar__logo {
   
	width: 98px;
	height: 31px;
    margin: 18px;
    cursor: pointer;
}
.navbar__locator {
    display:flex;
    margin: 5px 0px;
    cursor: pointer;
}
.navbar__location {
    color: white;
    font-weight: bold;
    margin-left: 5px;
}
.navbar__locatorImage {
    background: url('https://ik.imagekit.io/amazon1234/sprite_350x_q7QZkJCVl.png?updatedAt=1627121934264') no-repeat -70px -378px;
	width: 16px;
	height: 18px;
}
.navbar__searchcomponent {
    display:flex;
    margin-left: 72px;
}
.navbar__seaarchboxdiv {
    background-color: #FEBE68;
    height: 38px;
    width: 44px;
    border-radius: 0px 5px 5px 0px;
    margin-top: 8px;
}
.navbar__searchbox{
    width: 640px;
    height: 38px;
    margin-top: 8px;
}
.navbar__searchicon {
    background: url('https://ik.imagekit.io/amazon1234/sprite_350x_q7QZkJCVl.png?updatedAt=1627121934264') no-repeat -9px -289px;
	width: 23px;
	height: 23px;
    margin: 12px;
}
.nav__dropdown {
    width: 60px;
    height: 38px;
    margin-top: 8px;
    background-color: #e6e5e5;
    border-radius: 5px 0px 0px 5px;
    text-align-last: center;
}
.navbar__signin{
    width: 120px;
    margin-top: 13px;
    margin-left: 60px;
}
.navbar__returns {
    width: 80px;
    margin-top:13px;
    margin-left:10px;
    cursor: pointer;
}
.navbar__cart {
    display:flex;
    margin-top: 15px;
    cursor: pointer;
}
.navbar_text {
    color: white;
    font-size:12px;
    cursor: pointer;
}
.cart__image {
    background: url('https://ik.imagekit.io/amazon1234/sprite_350x_q7QZkJCVl.png?updatedAt=1627121934264') no-repeat -217px -336px;
    width: 43px;
	height: 30px;
}
.navbar_text_cart {
    margin-top: 13px;
    font-weight: bold;
    position: relative;
    left: -10px;
}
.cart__item {
    font-weight: bold;
    position: relative;
    left: -23px;
    top: -3px;
    color: #F08805;
}

.navbar__footer {
    width: 100vw;
    height: 35px;
    background-color: #22303E;
    color: white;
   
}
button{
    color:white;
    background-color:transparent;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: none;
}
button:hover{
   border:1px solid white;
   border-radius: 2px;
}

.header2
{
    width: 100vw;
    height: 45px;
    background-color:white;
    display: flex;
    border-bottom: 1px solid #bbb;
}
.heading{
    text-decoration: none;
    color: #131A22;
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
}
.heading:hover{
    color: #131A22;
}
.others{
font-size: 12px;
color:black;
}
.others:hover
{
    text-decoration:underline 1px orangered;
    color:black;
}
.divs{
    background-color:white;
    text-align: center;
    height:35px;
    width: 100vw;
    margin-top: 3px;
}
h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-rendering: optimizeLegibility;
    padding-bottom: 4px;
    padding-top: 10px;
}
.productDiv{
    margin-left:20px;
}
hr.hrClass
{
    border: none;
    height: 20px!important;
    margin-bottom: -18px;
    background: -webkit-linear-gradient(top,#ddd,#f7f7f7 3px,#fff);
    filter: none;
    z-index: 0;
    zoom: 1;
}